PhoneSensor.json
[{"id":"f6bcef80.b823a","type":"websocket-listener","z":"4d9640af.d0f1a","path":"/ws/sensor","wholemsg":"false"},{"id":"51ecb39e.9689dc","type":"debug","z":"4d9640af.d0f1a","name":"","active":true,"console":"false","complete":"false","x":482,"y":201,"wires":[]},{"id":"dadecab9.b54408","type":"function","z":"4d9640af.d0f1a","name":"tiltLRだけ選択","func":"return {payload:msg.payload.d.tiltLR};\n","outputs":1,"noerr":0,"x":293,"y":97,"wires":[["b9b0d2c1.6ce21"]]},{"id":"b9b0d2c1.6ce21","type":"switch","z":"4d9640af.d0f1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"-5","vt":"num"},{"t":"gte","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":187,"y":201,"wires":[["a948bb65.706388"],["d7f02cb.b516dd"],["c7d90cc0.6dd34"]]},{"id":"a948bb65.706388","type":"template","z":"4d9640af.d0f1a","name":"左","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"左に傾いています！ {{payload}}度","x":321,"y":163,"wires":[["51ecb39e.9689dc"]]},{"id":"d7f02cb.b516dd","type":"template","z":"4d9640af.d0f1a","name":"右","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"右に傾いています！ {{payload}}度","x":319,"y":201,"wires":[["51ecb39e.9689dc"]]},{"id":"c7d90cc0.6dd34","type":"template","z":"4d9640af.d0f1a","name":"フラット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ほぼフラットです {{payload}}度","x":321,"y":238,"wires":[["51ecb39e.9689dc"]]},{"id":"4827d4fc.093ad4","type":"cloudant out","z":"4d9640af.d0f1a","name":"","cloudant":"","database":"sensor","service":"IoTPServer-cloudantNoSQLDB","payonly":true,"operation":"insert","x":329,"y":328.5,"wires":[]},{"id":"5f3f8b17.dc2314","type":"function","z":"4d9640af.d0f1a","name":"データ加工","func":"var getCurrentTime = function () {\n    var date = new Date();\n    date.setHours(date.getHours() + 9);\n    var d = date.getFullYear() + '-';\n    d += ('0' + (date.getMonth() + 1)).slice(-2) + '-';\n    d += ('0' + date.getDate()).slice(-2) + 'T';\n    d += ('0' + date.getHours()).slice(-2) + ':';\n    d += ('0' + date.getMinutes()).slice(-2) + ':';\n    d += ('0' + date.getSeconds()).slice(-2) + 'Z';\n    return d;\n};\n\nmsg.payload =  {\n    \"timestamp\": getCurrentTime(),\n    \"tiltLR\": msg.payload.d.tiltLR,\n    \"tiltFB\": msg.payload.d.tiltFB,\n    \"accelX\": msg.payload.d.accelX\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":328.5,"wires":[["4827d4fc.093ad4","26e50a5c.63c3c6"]]},{"id":"bb0c92d2.303d78","type":"ibmiot in","z":"4d9640af.d0f1a","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"466660408786","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":63,"y":94.5,"wires":[["dadecab9.b54408","5f3f8b17.dc2314","6a1f33cb.35af2c"]]},{"id":"c743c1bf.1cf3","type":"http in","z":"4d9640af.d0f1a","name":"","url":"/sensor","method":"get","swaggerDoc":"","x":173,"y":395,"wires":[["c97bf7b0.14c8f8"]]},{"id":"f5a33700.82e5e8","type":"http response","z":"4d9640af.d0f1a","name":"","x":369,"y":393,"wires":[]},{"id":"c97bf7b0.14c8f8","type":"template","z":"4d9640af.d0f1a","name":"Webページ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\t<title>Phone Sensor Visualization App</title>\n\n\n    <script type=\"text/javascript\" src=\"//www.google.com/jsapi\"></script>\n    \n    <script type=\"text/javascript\">\n      var wsUrl = \"wss://\" + window.location.host + \"/ws/sensor\";\n      \n      var socket;\n      var tiltData, accelData;\n      var tiltOptions, accelOptions;\n      var tiltChart, accelChart;\n      \n      // Google Gauge\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n        // Data for tilt chart\n        tiltData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['左右傾き', 0],\n          ['前後傾き', 0]\n        ]);\n        \n        // Data for accel chart\n        accelData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['x軸加速度', 0]\n        ]);\n        \n        // Option for tilt chart\n        // If you want to set other options, please refer to https://developers.google.com/chart/interactive/docs/gallery/gauge\n        tiltOptions = {\n          width: 600, height: 180,\n          min: -90, max: 90,\n          redFrom: 70, redTo: 90,\n          yellowFrom:60, yellowTo: 70,\n          minorTicks: 5\n        };\n\n\n        // Option for accel chart\n        accelOptions = {\n          width: 600, height: 180,\n          min: -15, max: 15,\n          redFrom: 10, redTo: 15,\n          yellowFrom:7, yellowTo: 10,\n          minorTicks: 1\n        };\n        \n        tiltChart = new google.visualization.Gauge(document.getElementById('tiltChart'));\n        accelChart = new google.visualization.Gauge(document.getElementById('accelChart'));\n        \n        tiltChart.draw(tiltData, tiltOptions);\n        accelChart.draw(accelData, accelOptions);\n      };\n      \n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n          \n          // Update temperature data\n          tiltData.setValue(0, 1, sensorData.tiltLR);\n          tiltData.setValue(1, 1, sensorData.tiltFB);\n          \n          // Update humidity data\n          accelData.setValue(0, 1, sensorData.accelX);\n          \n          tiltChart.draw(tiltData, tiltOptions);\n          accelChart.draw(accelData, accelOptions);\n        };\n      };\n      \n      function disconnect() {\n        socket.close();\n      };\n        \n    </script>\n\n<style>\n  body {\n    background-color: #26343F;\n  }\n  .main {\n    background-size: 100%;\n    background-repeat: repeat-x;\n    background: linear-gradient(to top right, rgba(29, 54, 73, 1), rgba(45, 63, 74, 0.98)), url(http://roadshow.mybluemix.net/images/i-l-pattern.png);\n    padding-left:30px; \n  }\n  .logo {\n    font-size:16px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:12px; \n    padding-left:10px; \n    margin-bottom:15px;\n    display:inline-block;\n\t}\n  .title {\n    font-size:48px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:20px; \n    padding-left:40px; \n    margin-bottom:0px;\n    display:inline-block;\n\t}\n  .sub-title {\n    font-size:24px; \n    color: #41D6C3;\n    font-family: sans-serif;\n    margin-top:10px; \n    padding-left:40px; \n    margin-bottom:10px;\n    display:block;\n\t}\n</style>\n</head>\n<body>\n\t<span class=\"logo\" >IBM <b>Bluemix</b></span>\n\t<section class=\"main\">\t\t\n\t\t<div class=\"title\">Phone Sensor Visualization App</div>\n\t\t<div class=\"sub-title\">Powered by Node-RED</div>\n\t\n        <button onclick=\"connect()\">接続</button>\n        <button onclick=\"disconnect()\">切断</button>\n        \n  <table class=\"columns\">\n    <tr>\n      <td>\n        <div id=\"tiltChart\" style=\"width: 600px; height: 180px;\"></div>\n      </td>\n    </tr>\n    <tr>\n      <td>\n        <div id=\"accelChart\" style=\"width: 600px; height: 180px;\"></div>\n      </td>\n    </tr>\n  </table>\n\n</section>\n    \t<span class=\"logo\" >IBM Open Innovation Camp</span>\n</body>\n</html>","x":281,"y":449,"wires":[["f5a33700.82e5e8"]]},{"id":"26e50a5c.63c3c6","type":"websocket out","z":"4d9640af.d0f1a","name":"","server":"f6bcef80.b823a","client":"","x":413,"y":278,"wires":[]},{"id":"6a1f33cb.35af2c","type":"debug","z":"4d9640af.d0f1a","name":"","active":false,"console":"false","complete":"false","x":288,"y":41,"wires":[]}]