PhoneSensorIoT.json
[{"id":"aecf2bcc.008678","type":"debug","z":"51daaab7.832064","name":"","active":true,"console":"false","complete":"false","x":502,"y":233,"wires":[]},{"id":"677a61b5.3197a","type":"function","z":"51daaab7.832064","name":"tiltLRだけ選択","func":"return {payload:msg.payload.d.tiltLR};\n","outputs":1,"noerr":0,"x":313,"y":129,"wires":[["21451e9b.f8c1a2"]]},{"id":"21451e9b.f8c1a2","type":"switch","z":"51daaab7.832064","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"-5","vt":"num"},{"t":"gte","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":207,"y":233,"wires":[["b4294e05.b284b"],["fd376754.2d1d68"],["b2aa9b2e.2b02f8"]]},{"id":"b4294e05.b284b","type":"template","z":"51daaab7.832064","name":"左","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"左に傾いています！ {{payload}}度","x":341,"y":195,"wires":[["aecf2bcc.008678"]]},{"id":"fd376754.2d1d68","type":"template","z":"51daaab7.832064","name":"右","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"右に傾いています！ {{payload}}度","x":339,"y":233,"wires":[["aecf2bcc.008678"]]},{"id":"b2aa9b2e.2b02f8","type":"template","z":"51daaab7.832064","name":"フラット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ほぼフラットです {{payload}}度","x":341,"y":270,"wires":[["aecf2bcc.008678"]]},{"id":"ea64b658.2c23a8","type":"ibmiot in","z":"51daaab7.832064","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"466660408786","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":75,"y":129.5,"wires":[["677a61b5.3197a","93ba078a.3d6538"]]},{"id":"93ba078a.3d6538","type":"debug","z":"51daaab7.832064","name":"","active":false,"console":"false","complete":"false","x":308,"y":73,"wires":[]}]